<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>

	<!--eze-->
	<!--    <add name="Conexion"
	         connectionString="Data Source=NB-1341578\SQLEXPRESS;Initial Catalog=PP2025;Integrated Security=True;Persist Security Info=True;"
	         providerName="System.Data.SqlClient" />-->
	
	<!--Maxi -->
		 <!--<add name="Conexion"
	         connectionString="Data Source=DESKTOP-3PI38VI;Initial Catalog=PP2025;Integrated Security=True;Persist Security Info=True;"
	         providerName="System.Data.SqlClient" />-->

	<!--Nico-->
	         <add name="Conexion"
	         connectionString ="Data Source=DESKTOP-AI1N06P\SQLEXPRESS;Initial Catalog=PP2025;Integrated Security=True;Persist Security Info=True;"
	         providerName="System.Data.SqlClient" /> 
    
  <!--horacio-->
      <!--<add name="Conexion"
	         connectionString ="Data Source=HORACIOAYUZA;Initial Catalog=PP2025;Integrated Security=True;Persist Security Info=True;"
	         providerName="System.Data.SqlClient" />--> 
  </connectionStrings>


</configuration>
